/*------------------------------------------------------------------------//
//------------------------------- Widgets --------------------------------//
//------------------------------------------------------------------------*/
/** External widgets **/
.widget-container {
    /*display       : flex;*/
    flex-direction: column;
    justify-content: center;
    margin: 40px 20px 0px;
    font-size: 1rem !important;
    color: rgba(0, 0, 0, 0.54) !important;
    overflow: visible !important;
}
.indicator-container {
    display       : flex;
    height: auto !important;
    margin: 40px 20px 0px;
}
.widget-image{
    background-color : #0A6EB4;
    width            : 80px;
    height           : 80px;
    padding          : 5px;
}
.widget-text{
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    text-align      : center;
    margin          : 0 auto;
    padding         : 10px !important;
}
.widget-indicator-text{
    width           : 75%;
}