/*------------------------------------------------------------------------//
//------------------------------- Widgets --------------------------------//
//------------------------------------------------------------------------*/
/** External widgets **/
.widget-container {
    display       : flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 20px 0px;
    font-size: 1rem !important;
    color: rgba(0, 0, 0, 0.54) !important;
    overflow: visible !important;
}
.indicator-container {
    background-color : #007bc0;
    display       : flex;
    height: auto !important;
    margin: 40px 20px 0px;
    /*align-items: center;*/
}
.widget-image{
    background-color : #007bc0;
    width            : 80px;
    min-height       : 80px;
    padding          : 5px;
}
.widget-text{
    background-color : white;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    text-align      : center;
    padding         : 10px !important;
}
.widget-indicator-text{
    width           : 75%;
    margin          : 0 auto;
}

.widget-logo {
    height: 100%;
}