/*------------------------------------------------------------------------//
//------------------------------- Content --------------------------------//
//------------------------------------------------------------------------*/
/** General contents div **/
.content-row {
  display      : flex;
  text-align   : center;
  padding      : 0 !important;
}

.heading-title {
  color: #FFFFFF;
}

#background {
  position: absolute;
  background-color: rgba(0,0,0,0.4);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}

/* Hiding */
.gender.true {
  filter: blur(0.05em) opacity(40%);
}

.gender {
  filter: blur(0px) opacity(100%);
}

/*------------------------------------------------------------------------//
//------------------------------- Widgets --------------------------------//
//------------------------------------------------------------------------*/
.stacked-charts .VictoryContainer {
  height: 33.33333% !important;
}

.widget-difference-image{
  width : 100%;
  height: 20em;
}

.widget-difference{
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  margin          : 0 auto;
  padding         : 10px;
}