@import url('https://fonts.googleapis.com/css?family=Archivo');

/*------------------------------------------------------------------------//
//------------------------------- General --------------------------------//
//------------------------------------------------------------------------*/
.Home {
  text-align : center;
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
}

/*------------------------------------------------------------------------//
//------------------------------- Content --------------------------------//
//------------------------------------------------------------------------*/
/** General contents div **/
.content-row {
  display      : flex;
  text-align   : center;
  padding      : 0 !important;
}

/*------------------------------------------------------------------------//
//------------------------------- Loader ---------------------------------//
//------------------------------------------------------------------------*/
.loader {
  border-radius: 50%;
  border: 2px solid rgba(215, 63, 63, .35);
  border-bottom: 2px solid #2C3038;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.indicator-container {
  /*display       : flex;*/
  /*height: auto !important;*/
  /*margin: 40px 20px 0px;*/
  /*max-width: 345px;*/
}
.widget-image{
  background-color : #0A6EB4;
  width            : 250px;
  height: 102px;
}
.widget-text{
  /*display         : flex;*/
  /*flex-direction  : column;*/
  /*justify-content : center;*/
  /*text-align      : center;*/
  /*margin          : 0 auto;*/
  /*padding         : 10px;*/
}