@import url('https://fonts.googleapis.com/css?family=Archivo');

/*------------------------------------------------------------------------//
//------------------------------- General --------------------------------//
//------------------------------------------------------------------------*/
.Home {
  text-align : center;
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
  height: 100%;
}

/*------------------------------------------------------------------------//
//------------------------------- Loader ---------------------------------//
//------------------------------------------------------------------------*/
.loader {
  border-radius: 50%;
  border: 2px solid rgba(215, 63, 63, .35);
  border-bottom: 2px solid #2C3038;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.widget-home-image{
  background-color : #0A6EB4;
  width            : 250px;
  height: 102px;
}

.widget-difference-image-home{
  width : 900px;
  height: 600px;
}

.widget-text-home {
  margin          : 0 auto;
}